<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <div>
        <div>
            <h1>SmartMottu</h1>
        </div>
        <div class="navbar">
            <nav class="tabs">
                <a class="tab" th:href="@{/users}">Usuários</a>
                <a class="tab" th:href="@{/motos}">Motos</a>
                <a class="tab" th:href="@{/aluguel}">Aluguel Moto</a>
                <a class="tab" th:href="@{/logout}">Sair</a>

            </nav>
        </div>
    </div>

</body>
</html>
